*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

main{
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer{
    height: 5vh;
    background-color: #b2a3ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
    footer a{
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }

    /* IniciarSesion  */

    .contenedor-iniciar-sesion{
        height: 60vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        box-shadow: 3px 3px 10px 3px rgba(145,145,145,0.72);
    }
    .titulo{
        color: #7368cd;
        font-size: 2.2rem;
        margin-bottom: 5vh;
        font-weight: 800;
    }
    .input-iniciar{
        margin: 1vh 0;
        width: 40vw;
        height: 4vh;
        border: 1px solid rgb(160, 160, 160);
        border-radius: 5px;
        text-align: center;
    }
    .cambio{
        margin-top: 1vh;
        color: #7368cd;
    }
    .cambio:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .btn-iniciar{
        margin: 2vh 0;
        padding: 1vh 4vw;
        border: 1px solid rgb(160, 160, 160);
        border-radius: 5px;
        }
            .btn-iniciar:hover{
                cursor: pointer;
                color: white;
                background-color: #a394fe;
            }

    /* Principal */

    .contenedor-principal{
        height: 80vh;
        width: 90vw;
        border-radius: 30px;
        box-shadow: 3px 3px 10px 3px rgba(145,145,145,0.72);
        display: flex;
    }

    /* IngresarHoras */
    
    .contenedor-ingresar-horas{
        height: 80vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-right: 1px solid rgb(145,145,145);
    }
    
        .contenedor-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 40vh;
        }

            .contenedor-form p{
                font-size: 1.1rem;
                margin: 1vh;
            }

            .contenedor-form input{
                padding: 1vh 2vw;
            }

            .btn-agregar-horas{
                margin-top: 3vh;
                padding: 1vh 3vw;
                border: 1px solid rgb(160, 160, 160);
                border-radius: 5px;
            }
                .btn-agregar-horas:hover{
                    cursor: pointer;
                    color: white;
                    background-color: #a394fe;
                }
            .btn-ver-horas{
                display: none;
            }

        .cerrar-sesion{
            width: 35vw;
            text-align: center;
        }
            .cerrar-sesion p{
                padding-bottom: 1vh;
            }
            .btn-cerrar-sesion{
                padding: 4px 2vw;
                border: 1px solid rgb(160, 160, 160);
                border-radius: 5px;
            }
                .btn-cerrar-sesion:hover{
                    cursor: pointer;
                    color: white;
                    background-color: #a394fe;
                }

    /* ContenedorEntradas */

    .contenedor-entradas{
        height: 70vh;
        width: 60vw;
        margin: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
        .contenedor-filtro{
            width: 50vw;
            text-align: end;
        }
            .seleccionar-mes{
                margin-right: 2vw;
            }
            .seleccionar-quincena{
                margin-right: 4vw;
            }
        .contenedor-entradas-individuales{
            height: 60vh;
            width: 50vw;
            overflow: auto;
        }
            .entrada-individual{
                height: 20vh;
                display: flex;
                width: 47vw;
                flex-direction: column;
                justify-content: center;
                border-bottom: 1px solid rgb(160, 160, 160);
            }

                .p-dia-entrada{
                    text-align: right;
                    margin-right: 2vw;
                }
                .p-horas{
                    margin-left: 2vw;
                    padding: 3px 0;
                }
                .btn-eliminar{
                    padding: 3px 2vw;
                    margin: 1vh auto 0 auto;
                    width: 10vw;
                    border: 1px solid rgb(160, 160, 160);
                    border-radius: 5px;
                }
                    .btn-eliminar:hover{
                        cursor: pointer;
                        color: white;
                        background-color: #a394fe;
                    }
        .horas-totales{
            font-size: 1.2rem;
        }
        .btn-ver-agregar-horas{
            display: none;
        }


    /* Responsive Design */

@media screen and (max-width: 860px){
    .contenedor-iniciar-sesion{
        width: 80vw;
        height: 80vh;
    }
        .titulo{
            margin-bottom: 10vh;
        }
        .input-iniciar{
            width: 50vw;
        }
        .error-crear-cuenta{
            margin-top: 5vh;
            text-align: center;
        }

    .contenedor-principal{
        display: block;
        height: 90vh;
    }
        .contenedor-ingresar-horas{
            width: 100%;
            border: none;
        }
            .btn-ver-horas{
                display: flex;
                margin: 2vh 0;
                padding: 1vh 5vw;
                border: 1px solid rgb(160, 160, 160);
                border-radius: 5px;
                }
                    .btn-ver-horas:hover{
                        cursor: pointer;
                        color: white;
                        background-color: #a394fe;
                    }
            .contenedor-form{
                width: 80%;
            }
            .cerrar-sesion{
                width: 100%;
            }

        .contenedor-entradas{
            display: none;
            height: 100%;
            width: 100%;
            margin: 0;
        }
            .contenedor-filtro{
                margin-top: 3vh;
                text-align: center;
            }
                .seleccionar-mes{
                    padding: 0.5vh 0;
                    margin-right: 0;
                    margin-bottom: 1vh;
                    width: 35vw;
                }
                .seleccionar-quincena{
                    padding: 0.5vh 0;
                    margin-right: 0;
                    width: 35vw;
                }
            .contenedor-entradas-individuales{
                width: 80%;
                height: 60vh;
                border-top: 1px solid #a394fe;
                border-bottom: 1px solid #a394fe;
            }
                .entrada-individual{
                    width: 100%;
                    height: min-content;
                    border-bottom: 1px solid #a394fe;
                }
                    .p-dia-entrada{
                        margin-top: 1vh;
                    }
                    .btn-eliminar{
                        padding: 0.5vh 0;
                        width: 35vw;
                        margin-bottom: 1vh;
                    }
                .btn-ver-agregar-horas{ 
                    display: block;
                    margin-bottom: 3vh;
                    padding: 1vh 0;
                    width: 45vw;
                    border: 1px solid rgb(160, 160, 160);
                    border-radius: 5px;
                }
                    .btn-ver-agregar-horas:hover{
                        cursor: pointer;
                        color: white;
                        background-color: #a394fe;
                    }
            .horas-totales{
                text-align: center;
                width: 80%;
                font-size: 1rem;
            }
}